<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" aria-current="page" href="/">
                <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/312947821_1165658447667547_2807029240786492825_n.png?stp=dst-png_p403x403&_nc_cat=103&ccb=1-7&_nc_sid=aee45a&_nc_eui2=AeG51Wd3FgWtHbJR4-VC3FthEQq59BAYBBYRCrn0EBgEFp8m_c329I6DhlF5EDHdcZOu870GI7_gZ3iGKdXq-76X&_nc_ohc=q4TQK0QBxLQAX-xiFV8&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdTGOyBzGPCulrlw7gDXyq7Yd5b447G5i34FjoiG5CKhpA&oe=638EBEB8" alt="" width="50" height="50">
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    
                    <a class="nav-link active " aria-current="page" href="/listings">Listings</a>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/listings/new">Make listing</a>
                </li>
            </ul> 

        
            <ul class="nav justifiy-content-end">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>

<!--                     
                //login
                //sign up 
                //username -> edit
                //log out -->
                
            </ul>

      
        </div>

    </div>
</nav>