<div class="container">
    <h1>New Listing</h1>
    <form action="/listings" method="post">
        <div>
            <label for="name">House Name:</label>
            <input type="text" name="name" id="name">
        </div>
        <br>
        <div>
            <label for="price">Price: </label>
            <input type="number" name="price" id="price">
        </div>
        <br>
        <div>
            <label for="location">Location: </label>
            <input type="text" name="location" id="location">
        </div>
        <br>
        <button>Submit</button>
</div>