<div class="row">
    <h1 class="text-center">New Listing</h1>
    <div class="col-6 offset-3">
        <form action="/listings" method="post">
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" name="image" id="image"
                    placeholder="https://urlimage.com/image.png">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input class="form-control" type="text" name="name" id="name" placeholder="Casa de la foot">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="description" id="description" rows="5">
                </textarea>
            </div>
            <div class="mb-3">
                <label for="price">Price: </label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">₱</span>
                    <input class="form-control" type="number" step="any" name="price" aria-label="price"
                        aria-describedby="price-label" id="price" id="price" placeholder="0.00">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="location" id="location" placeholder="somewhere city">
            </div>
            <div id="map" class="mb-3" style="height: 300px; width: 544px;">

            </div>
            <script>
                let map = new L.map('map', {
                    center: [10.628216112538693, 124.34875488281251],
                    zoom: 6
                })

                let layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
                map.addLayer(layer);

                let marker = null;
                map.on('click', (event) => {
                    console.log(event);
                    if (marker !== null) {
                        map.removeLayer(marker);
                    }

                    marker = L.marker([event.latlng.lat, event.latlng.lng]).addTo(map);
                    document.getElementById('lat').value = event.latlng.lat;
                    document.getElementById('lng').value = event.latlng.lng;

                })
            </script>
            <div class="mb-3">
                <label class="form-label">Coordinates</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">Latitude</span>
                    <input type="number" step="any" class="form-control" step="any" placeholder="latitude"
                        aria-label="latitude" name="lat" id="lat">
                    <span class="input-group-text">Longtitude</span>
                    <input type="number" step="any" class="form-control" placeholder="longtitude"
                        aria-label="longtitude" name="lng" id="lng">
                </div>
            </div>
            <div class="mb-3">
                <a class="btn btn-primary" href="/listings">Cancel</a>
                <button class="btn btn-success">Add listing</button>
            </div>
    </div>
</div>