<div class="row">
    <h1 class="text-center">New Listing</h1>
    <div class="col-6 offset-3">
        <form action="/listings" method="post">
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" name="image" id="image" placeholder="https://urlimage.com/image.png">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input class="form-control" type="text" name="name" id="name" placeholder="Casa de la foot">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="description" id="description" rows="5" >
                </textarea>
            </div>
            <div class="mb-3">
                <label for="price">Price: </label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">₱</span>
                    <input class="form-control" type="number" step="any" name="price" aria-label="price" aria-describedby="price-label" id="price" id="price" placeholder="0.00">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="location" id="location" placeholder="somewhere city">
            </div>
            <div class="mb-3">
                <label class="form-label">Coordinates</label>             
                <div class="input-group mb-3" >
                    <span class="input-group-text">Latitude</span>
                    <input type="number" step="any" class="form-control" step="any" placeholder="0.00" aria-label="latitude" name="lat" id="lat">
                    <span class="input-group-text">Longtitude</span>
                    <input type="number" step="any" class="form-control" placeholder="0.00" aria-label="longtitude" name="lng" id="lng">
                </div>      
            </div>
            <div class="mb-3">
                <a class="btn btn-primary" href="/listings">Cancel</a>
                <button class="btn btn-success">Add listing</button>
            </div>
    </div>
</div>